body {
    margin: 0;
    padding: 0;
    background-color: rgba(63, 19, 3, 0.804);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .quote-container {
    text-align: center;
    font-size: 1.5rem;
    color: #0c0101;
    padding: 40px;
    max-width: 800px;
    border-bottom: 1px solid #000000;
  }
  